@using NetC.JuniorDeveloperExam.Web.Models
@using System.Web.Optimization
@model List<NetC.JuniorDeveloperExam.Web.Models.BlogPosts>

@{
    ViewBag.Title = "Index";

    BlogComments blogs = new BlogComments();
}

@foreach (BlogPosts items in Model)
{
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="mt-4">@items.Title</h1>
                <hr>
                <p>@items.DateTime.ToLongDateString() @items.DateTime.ToLongTimeString()</p>
                <hr>
                <img class="img-fluid rounded" src="@items.Image" alt="@items.Title"/>
                <hr>
                @Html.Raw(items.HtmlContent)
                <hr>
                <div class="card my-4">
                    <h5 class="card-header">Leave a Comment:</h5>
                    <div class="card-body">
                        @using (Html.BeginForm("Index", "Blog", FormMethod.Post))
                        {
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    @Html.Label("Name")
                                    @Html.TextBox("Name", blogs.Name, new { @class = "form-control", id = "Name", placeholder = "Name" })
                                    @Html.ValidationMessage("Name", "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-md-6">
                                    @Html.Label("Email Address")
                                    @Html.TextBox("Email", blogs.Email, new { @class = "form-control", id = "EmailAddress", placeholder = "Email Address" })
                                    @Html.ValidationMessage("Email", "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Message")
                                @Html.TextArea("Message", blogs.Message, new { @class="form-control", id="Message", rows="3"})

                                @Html.ValidationMessage("Message","", new { @class="text-danger"})
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        }
                    </div>
                </div>
                @foreach (var blogComments in items.BlogComments)
                {
                    <div class="media mb-4">
                        <img class="d-flex mr-3 rounded-circle user-avatar" src="https://eu.ui-avatars.com/api/?name=@blogComments.Name" alt="@blogComments.Name">
                        <div class="media-body">
                            <h5 class="mt-0">@blogComments.Name<small><em>(@blogComments.DateTime.ToLongDateString() @blogComments.DateTime.ToLongTimeString())</em></small></h5>
                            @blogComments.Message
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}
@Scripts.Render("~/Scripts/unobtrusive-bootstrap.js")
@Scripts.Render("~/Scripts/bootstrap.bundle.min.js")
@Scripts.Render("~/Scripts/jquery-3.3.1.min.js")
@Scripts.Render("~/Scripts/jquery.validate.min.js")
@Scripts.Render("~/Scripts/jquery.validate.unobtrusive.min.js")

<link rel="stylesheet" type="text/css" href="/Assets/Styles/custom.css" />